#touchSlider { 
  position: absolute !important;
  height: 65% !important;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) !important;
  width: 90% !important;
  overflow: visible !important;

  ul {
    position: relative !important;
    width: 80% !important;
    height: 100%;
    margin: 0px auto;
    padding: 0px;
    list-style: none;

    li {
      top: 50% !important;
      left: 0px !important;
      transform: translateY(-50%) !important;
      width: 100% !important;
      height: 100%;
      margin-left: 0px;
      font-size: 14px !important;
      color: black !important;
      transition: height 300ms !important;
      background: white;
      box-shadow: 0px 0px 29px 1px rgba(0, 0, 0, 0.20);

      .content {
        display: none;
      }
    }
    .now {
      z-index: 100 !important;
      margin-left: 0px;

      .content {
        display: block;
      }
    }
    .s2 {
      z-index: 98 !important;
      margin-left: -40px !important;
      height: 85%;
    }
    .s1 {
      z-index: 99 !important;
      margin-left: -20px !important;
      height: 90%;
    }
    .l1 {
      z-index: 99 !important;
      margin-left: 20px !important;
      height: 90%;
    }
    .l2 {
      z-index: 98 !important;
      margin-left: 40px !important;
      height: 85%;
    }
  }
}