.main-header {
    .toolbar-background {
        background: #7f5338;
    }
    .toolbar-title {
        color: #ffe543;
    }
    .menu-icon {
        font-size: 2.5rem;
        color: #ffe543;
        z-index: 999;
        margin-right: 15px;
    }
}